// Place all the styles related to the Epicenter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_info {
	border-radius: 5px;
	border-color: rgb(50,0,0);
	border-width: 2px;
	border-style: solid;
	width: 100%;
	background-color: rgb(200,0,255);
	padding: 1%;
	font-size: 25em;
	color: white;
}
#user_info {
	position: fixed;
}